/* постоянные клиенты */

.company-title {
    font-weight: bold;
    // font-size: 36px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-text-coor);
    // margin-bottom: 50px;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    // justify-content: space-between;
    // @media (max-width: 449px) {
    //     justify-content: center;
    // }
    
}

.company-list-item{
    margin-top: 30px;
    width: calc(100% / 2 - 15px);
}

.company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 170px;
    
    min-width: 130px;
    // width: 100%;
    min-height: 70px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: background-color var(--main-tranzitions),
    fill var(--main-tranzitions);
    &:hover,
    &:focus {
        fill: var(--accent-hover-color);
        border: 1px solid var(--accent-hover-color);
    }
}

