/* contacts */

.contacts {
    display: none;
    @media screen and (min-width: 768px) {
            display: block;
    }
    @media screen and (min-width: 1200px) {
            display: flex;
        }
}

.contacts__item:not(:last-child) {
    margin-right: 30px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 0;
            margin-bottom: 10px;;
        }
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    fill: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    text-decoration: none;
    transition: color var(--main-tranzitions);
    &:hover,
    &:focus {
        color: var(--accent-hover-color);
    }
        @media screen and (min-width: 768px) {
            padding: 0;
        }
}

.contact__icons {
    margin-right: 8px;
    // margin-right: 10px;
    fill: currentColor;
}