/* container */

.container {
    padding: 0 15px;
    // width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* outline: 2px solid olivedrab; */
    @media (min-width: 480px) {
        width: 480px;
    }
    @media (min-width: 768px) {
        width: 768px;
    }
    
    @media (min-width: 1200px) {
        width: 1200px;
    }
}