/* хедер */

.header {
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primery-white-color);
    border-bottom: 1px solid #ECECEC;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mob-button-open{
    background-color: transparent;
    &:hover,
    &:focus{
        fill: var(--accent-hover-color);
    }
}