.logo {
    display: block;
    width: 145px;
    color: var(--accent-hover-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
}

.header__logo {
    padding: 16px 0;
    // margin-right: 93px;
    @media screen and (min-width: 768px) {
        padding: 26px 0;
    }
}

.logo--black {
    color: #000000;
}