.logo {
    display: block;
    width: 145px;
    color: var(--accent-hover-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo--black {
    color: #000000;
}