.social-networks {
    /* outline: 2px solid blue;  */
    display: flex;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    max-width: 206px;
}

.social-link {
    border-radius: 50%;
    padding: 12px;
    display: block;
    width: 44px;
    height: 44px;
    /* outline: 2px solid red; */
    fill: #AFB1B8;
    transition: background-color var(--main-tranzitions), fill var(--main-tranzitions);
    &:hover,
    &:focus {
        background-color: var(--accent-hover-color);
        fill: var(--primery-white-color);
    }
}

